<!doctype html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        Thành phần Biểu mẫu | TailAdmin - Mẫu Bảng điều khiển Quản trị Tailwind CSS
    </title>
    <link rel="icon" href="favicon.ico">
    <link href="../../../assets/admin/styles/style.css" rel="stylesheet">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body
    x-data="{ page: 'formElements', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}">
    <div x-show="loaded"
        x-init="window.addEventListener('DOMContentLoaded', () => {setTimeout(() => loaded = false, 500)})"
        class="fixed left-0 top-0 z-999999 flex h-screen w-screen items-center justify-center bg-white dark:bg-black">
        <div class="h-16 w-16 animate-spin rounded-full border-4 border-solid border-brand-500 border-t-transparent">
        </div>
    </div>

    <div class="flex h-screen overflow-hidden">
        <div w3-include-html="layouts/sidebar.html"></div>

        <div class="relative flex flex-1 flex-col overflow-x-hidden overflow-y-auto">
            <div @click="sidebarToggle = false" :class="sidebarToggle ? 'block lg:hidden' : 'hidden'"
                class="fixed w-full h-screen z-9 bg-gray-900/50"></div>
            <div w3-include-html="layouts/header.html"></div>
            <main>
                <form id="edit-review">
                    <div class="mx-auto max-w-(--breakpoint-2xl) p-4 md:p-6">
                        <div x-data="{ pageName: `Quản lí đánh giá`}">
                            <div class="mb-6 flex flex-wrap items-center justify-between gap-3">
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-white/90" x-text="pageName">
                                </h2>

                                <nav>
                                    <ol class="flex items-center gap-1.5">
                                        <li>
                                            <a class="inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400"
                                                href="index.html">
                                                Trang chủ
                                                <svg class="stroke-current" width="17" height="16" viewBox="0 0 17 16"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.0765 12.667L10.2432 8.50033L6.0765 4.33366" stroke=""
                                                        stroke-width="1.2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="text-sm text-gray-800 dark:text-white/90" x-text="pageName"></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="space-y-6">
                            <div class="mx-auto max-w-3xl p-6">
                                <div class="rounded-2xl border bg-white shadow-sm">

                                    <!-- Header -->
                                    <div class="flex items-center justify-between border-b px-6 py-4">
                                        <h3 class="text-lg font-semibold text-gray-800">
                                            Chi tiết đánh giá
                                        </h3>
                                    </div>

                                    <!-- Content -->
                                    <div class="space-y-5 px-6 py-5 text-sm">

                                        <div class="grid grid-cols-3 gap-4">
                                            <div class="text-gray-500">Sản phẩm:
                                                <input class="col-span-2 font-medium text-gray-600" id="productId" />
                                            </div>
                                        </div>

                                        <div class="grid grid-cols-3 gap-4">
                                            <div class="text-gray-500">Người gửi:
                                                <input class="col-span-2 font-medium text-gray-600" id="reviewerName" />
                                            </div>
                                        </div>

                                        <div class="grid grid-cols-3 gap-4">
                                            <div class="text-gray-500">Điểm đánh giá:
                                                <input class="col-span-2 font-medium text-yellow-600" id="rating" />
                                            </div>
                                        </div>

                                        <div class="grid grid-cols-3 gap-4">
                                            <div class="text-gray-500">Nội dung: 
                                                <input class="col-span-2 text-gray-600 leading-relaxed" id="comment"/>
                                            </div>
                                        </div>


                                        <!-- Status Control -->
                                        <div class="grid grid-cols-3 items-center gap-4">
                                            <div class="text-gray-500">Trạng thái</div>

                                            <select id="status"
                                                class="col-span-2 h-10 rounded-lg border px-4 text-sm focus:ring focus:ring-brand-300">
                                                <option value="1">Hiện</option>
                                                <option value="0">Ẩn</option>
                                            </select>
                                        </div>

                                    </div>

                                    <!-- Footer -->
                                    <div class="flex justify-end gap-3 border-t px-6 py-4">
                                        <a href="review.html"
                                            class="rounded-lg border px-4 py-2 text-sm text-gray-600 hover:bg-gray-50">
                                            Quay lại
                                        </a>

                                        <button id="btnUpdate"
                                            class="rounded-lg bg-brand-500 px-5 py-2 text-sm font-medium text-white hover:bg-brand-600">
                                            Cập nhật trạng thái
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </form>
        </div>
        </main>
    </div>

    <script>
        w3.includeHTML();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../../controllers/ui/admin/review/edit.js"></script>
    <script defer src="../../../assets/admin/scripts/bundle.js"></script>
</body>

</html>