<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Trang chủ | Jotun Vietnam</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="../assets/client/img/apple-icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/client/img/favicon.ico" />

    <link rel="stylesheet" href="../../assets/client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/client/css/templatemo.css" />
    <link rel="stylesheet" href="../../assets/client/css/custom.css" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap" />
    <link rel="stylesheet" href="../../assets/client/css/fontawesome.min.css" />
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
    <!-- Start Menu -->
    <div w3-include-html="layouts/menu.html"></div>
    <!-- End Menu -->
    <div id="alertBox"></div>
    <!-- Start Cart -->
    <section class="container py-5">
        <h2 class="mb-4 fw-bold">Giỏ hàng của bạn</h2>

        <div class="row g-4">
            <!-- LIST PRODUCT -->
            <div class="col-lg-8">
                <div class="cart-items">
                    <div class="cart-items" id="cart-items">

                        <!-- PRODUCT 1 -->
                        <div class="d-flex p-3 mb-3 shadow-sm rounded bg-white align-items-center">
                            <img src="https://www.jotun.com/contentassetsjot03/d166e8cb098f4fbd9ab8f5b2c49dfaa9/jotun-livingroom-7613-northern-mystic_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                                class="rounded me-3" width="100">
                            <div class="flex-grow-1">
                                <h6 class="fw-bold mb-1">Jotun ...</h6>
                                <div class="d-flex align-items-center mb-1">
                                    <div style="width:18px;height:18px;background:#A50017; border:1px solid #ccc;border-radius:4px;"
                                        class="me-2"></div>
                                    <p class="small mb-0">
                                        Mã màu: <strong>2915</strong> |
                                        Tên màu: <strong>Sophisticated red</strong>
                                    </p>
                                </div>
                                <p class="small mb-2">Dung tích: 5L</p>
                                <div class="d-flex align-items-center">
                                    <strong class="me-3">300.000đ</strong>
                                    <input type="number" min="1" value="2" class="form-control text-center"
                                        style="width: 80px;">
                                </div>
                            </div>
                            <button class="btn btn-outline-danger ms-3">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>

                        <!-- PRODUCT 2 -->
                        <div class="d-flex p-3 mb-3 shadow-sm rounded bg-white align-items-center">
                            <img src="https://www.jotun.com/contentassetsjot03/dbf0c306f27a43f7b05062a41ae22ca4/jotun-livingroom-12300-hazelnut-beige-1625-soul-02_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                                class="rounded me-3" width="100">
                            <div class="flex-grow-1">
                                <h6 class="fw-bold mb-1">Jotun ...</h6>
                                <div class="d-flex align-items-center mb-1">
                                    <div style="width:18px;height:18px;background:#696d61; border:1px solid #ccc;border-radius:4px;"
                                        class="me-2"></div>
                                    <p class="small mb-0">
                                        Mã màu: <strong>7613</strong> |
                                        Tên màu: <strong>Northern Mystic</strong>
                                    </p>
                                </div>
                                <p class="small mb-2">Dung tích: 5L</p>
                                <div class="d-flex align-items-center">
                                    <strong class="me-3">300.000đ</strong>
                                    <input type="number" min="1" value="1" class="form-control text-center"
                                        style="width: 80px;">
                                </div>
                            </div>
                            <button class="btn btn-outline-danger ms-3">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOTAL -->
            <div class="col-lg-4">
                <div class="shadow-sm rounded bg-white p-4">
                    <h5 class="fw-bold mb-3">Tổng đơn hàng</h5>

                    <div class="d-flex justify-content-between mb-2">
                        <span>Tạm tính:</span>
                        <strong id="subtotal">900.000đ</strong>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <span>Phí vận chuyển:</span>
                        <strong>Miễn phí</strong>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between mb-3">
                        <span class="fw-bold fs-5">Tổng cộng:</span>
                        <span class="fw-bold fs-5" id="total">900.000đ</span>
                    </div>

                    <button id="btn-checkout" class="btn btn-danger w-100 py-2">
                        Tiến hành thanh toán
                    </button>

                </div>
            </div>
        </div>
    </section>
    <!-- End cart  -->

    <!-- End Cart -->

    <!-- Start Footer -->
    <div w3-include-html="layouts/footer.html"></div>
    <!-- End Footer -->
    <script>
        w3.includeHTML();
    </script>
    <!-- Start Script -->
    <script src="../../assets/client/js/jquery-1.11.0.min.js"></script>
    <script src="../../assets/client/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../assets/client/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/client/js/templatemo.js"></script>
    <script src="../../assets/client/js/custom.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../../controllers/ui/client/cart.js"></script>
    <script type="module" src="../../assets/client/js/menu.js"></script>

    <!-- End Script -->
</body>

</html>