<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Trang chủ | Jotun Vietnam</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="../assets/client/img/apple-icon.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/client/img/favicon.ico"
    />

    <link rel="stylesheet" href="../../assets/client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/client/css/templatemo.css" />
    <link rel="stylesheet" href="../../assets/client/css/custom.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../../assets/client/css/fontawesome.min.css" />
    <script src="https://www.w3schools.com/lib/w3.js"></script>
  </head>

  <body>
    <!-- Start Menu -->
    <div w3-include-html="layouts/menu.html"></div>
    <!-- End Menu -->

    <!-- Modal -->
    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Đóng"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Tìm kiếm ..."
            />
            <button
              type="submit"
              class="input-group-text bg-success text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Start Banner Hero -->
    <div
      id="template-mo-zay-hero-carousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img
                  class="img-fluid"
                  src="https://www.jotun.com/contentassetsjot03/5726a7ccdf58495ab220a80ce4753a30/seap-gcc2026-media-hero-web-2550x1920.jpg?format=webp&quality=90&height=800"
                  alt=""
                />
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                  <h1 class="h1 text-dark text-center">
                    <b>Bộ Sưu Tập Màu Sắc Mới Nhất Từ Jotun</b>
                  </h1>
                  <p class="text-center">
                    Bộ sưu tập màu sắc 2026 với chủ đề Chốn Nuôi Dưỡng Tâm Hồn
                    là tuyển tập gồm 24 màu sắc đẹp nhất, chia thành 3 chủ đề
                    riêng biệt.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Categories of The Month -->
    <section class="container py-5">
      <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h2"><b>Khám Phá Màu Sắc Của Chúng Tôi</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"
            ><img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAACCklEQVR4AeyTwW0DQRDDDu6/0HyTBpIO9CCgXdmhAb8G0s6RmNfP99ev/x0Gr8ffFAGFTOl4HoUoZIzA2DpeiELGCIyt44UoZIzA2DpeyL8QMvaR77SOFzJmSyEKGSMwto4XopAxAmPreCEKGSMwto4XopAxAmPrvNOFjKHrrKOQDlfcqhCMrhNUSIcrblUIRtcJKqTDFbcqBKPrBBXS4YpbFYLRdYIK6XDFrQrB6DpBhXS44laFYHSdoEI6XHGrQjC6TlAhHa64VSEYXSeokA5X3KoQjK4TVEiHK25VCEYXg3ioEIyuE1RIhytuVQhG1wkqpMMVtyoEo+sEFdLhilsVgtF1ggrpcMWtCsHoOkGFdLji1igEtxrEBBSC0XWCCulwxa0Kweg6QYV0uOJWhWB0naBCOlxxq0Iwuk5QIR2uuFUhGF0neEFI50M+pVUhYyYVopAxAmPreCEKGSMwto4XopAxAmPreCEKGSMwts7HXMgYV7yOQjC6TlAhHa64VSEYXSeokA5X3KoQjK4TVEiHK25VCEbXCSqkwxW3KgSj6wQVErmeHyrkPPP4okIinvNDhZxnHl9USMRzfqiQ88zjiwqJeM4PFXKeeXxRIRHP+aFCzjOPLyok4ukMU6tCEp0LM4VcgJ6eVEiic2GmkAvQ05MKSXQuzBRyAXp6UiGJzoWZQi5AT0/+AQAA//9JaDAbAAAABklEQVQDAEYde8BLTD4hAAAAAElFTkSuQmCC"
              class="rounded-circle img-fluid border"
          /></a>
          <h5 class="text-center mt-3 mb-3">1624
SKYLIGHT</h5>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"
            ><img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAACCklEQVR4AeyTQWoDQRADFz8ukPz/P8kPdCjQjOyUwadGmt4q+vX1/fPrf4fB6/E3RUAhUzqeRyEKGSMwto4XopAxAmPreCEKGSMwto4X8i+EjH3kO63jhYzZUohCxgiMreOFKGSMwNg6XohCxgiMreOFKGSMwNg673QhY+g66yikwxW3KgSj6wQV0uGKWxWC0XWCCulwxa0Kweg6QYV0uOJWhWB0naBCOlxxq0Iwuk5QIR2uuFUhGF0nqJAOV9yqEIyuE1RIhytuVQhG1wkqpMMVtyoEo+sEFdLhilsVgtHFIB4qBKPrBBXS4YpbFYLRdYIK6XDFrQrB6DpBhXS44laFYHSdoEI6XHGrQjC6TlAhHa64NQrBrQYxAYVgdJ2gQjpccatCMLpOUCEdrrhVIRhdJ6iQDlfcqhCMrhNUSIcrblUIRtcJXhDS+ZBPaVXImEmFKGSMwNg6XohCxgiMreOFKGSMwNg6XohCxgiMrfMxFzLGFa+jEIyuE1RIhytuVQhG1wkqpMMVtyoEo+sEFdLhilsVgtF1ggrpcMWtCsHoOkGFRK7nhwo5zzy+qJCI5/xQIeeZxxcVEvGcHyrkPPP4okIinvNDhZxnHl9USMRzfqiQ88zjiwqJeDrD1KqQROfCTCEXoKcnFZLoXJgp5AL09KRCEp0LM4VcgJ6eVEiic2GmkAvQ05N/AAAA//8NvxdUAAAABklEQVQDAMrMuSlAkoe1AAAAAElFTkSuQmCC"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">5366
TAR</h2>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"
            ><img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAACC0lEQVR4AeyTwW0DQRDDDq4tBaSO9P9POtCDgHZlhwb8Gkg7R2JeP99fv/53GLwef1MEFDKl43kUopAxAmPreCEKGSMwto4XopAxAmPreCH/QsjYR77TOl7ImC2FKGSMwNg6XohCxgiMreOFKGSMwNg6XohCxgiMrfNOFzKGrrOOQjpccatCMLpOUCEdrrhVIRhdJ6iQDlfcqhCMrhNUSIcrblUIRtcJKqTDFbcqBKPrBBXS4YpbFYLRdYIK6XDFrQrB6DpBhXS44laFYHSdoEI6XHGrQjC6TlAhHa64VSEYXQzioUIwuk5QIR2uuFUhGF0nqJAOV9yqEIyuE1RIhytuVQhG1wkqpMMVtyoEo+sEFdLhilujENxqEBNQCEbXCSqkwxW3KgSj6wQV0uGKWxWC0XWCCulwxa0Kweg6QYV0uOJWhWB0neAFIZ0P+ZRWhYyZVIhCxgiMreOFKGSMwNg6XohCxgiMreOFKGSMwNg6H3MhY1zxOgrB6DpBhXS44laFYHSdoEI6XHGrQjC6TlAhHa64VSEYXSeokA5X3KoQjK4TVEjken6okPPM44sKiXjODxVynnl8USERz/mhQs4zjy8qJOI5P1TIeebxRYVEPOeHCjnPPL6okIinM0ytCkl0LswUcgF6elIhic6FmUIuQE9PKiTRuTBTyAXo6UmFJDoXZgq5AD09+QcAAP//ufys7QAAAAZJREFUAwAG9sedKEWVoAAAAABJRU5ErkJggg=="
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">2392
CHOCOLATE</h2>
        </div>
      </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    <section class="bg-light">
      <div class="container py-5">
        <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
            <h1 class="h1">Các màu sắc mới nhất</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="shop-single.html">
                <img
                  src="https://www.jotun.com/contentassetsjot03/c959d030a7b545728ea7b578d2b3f20a/jotun-livingroom-2951-sophisticated-red-02_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                  class="card-img-top"
                  alt="Ảnh minh họa sản phẩm"
                />
              </a>
              <div class="card-body">
                <p>2915</p>
                <a
                  href="shop-single.html"
                  class="h3 fw-bold text-decoration-none text-dark name_title"
                  >Sophisticated red</a
                >
                <p class="text-center mb-0">300.000đ</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="shop-single.html">
                <img
                  src="https://www.jotun.com/contentassetsjot03/d166e8cb098f4fbd9ab8f5b2c49dfaa9/jotun-livingroom-7613-northern-mystic_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                  class="card-img-top"
                  alt="Ảnh minh họa sản phẩm"
                />
              </a>
              <div class="card-body">
                <p>7613</p>
                <a
                  href="shop-single.html"
                  class="h3 fw-bold text-decoration-none text-dark name_title"
                  >Northern mystic</a
                >
                <p class="text-center mb-0">300.000đ</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="shop-single.html">
                <img
                  src="https://www.jotun.com/contentassetsjot03/dbf0c306f27a43f7b05062a41ae22ca4/jotun-livingroom-12300-hazelnut-beige-1625-soul-02_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                  class="card-img-top"
                  alt="Ảnh minh họa sản phẩm"
                />
              </a>
              <div class="card-body">
                <p>1625</p>
                <a
                  href="shop-single.html"
                  class="h3 fw-bold text-decoration-none text-dark name_title"
                  >Soul</a
                >
                <p class="text-center mb-0">300.000đ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Product -->

    <!-- Start Footer -->
    <div w3-include-html="layouts/footer.html"></div>
    <!-- End Footer -->
    <script>
      w3.includeHTML();
    </script>
    <!-- Start Script -->
    <script src="../../assets/client/js/menu.js"></script>
    <script src="../../assets/client/js/jquery-1.11.0.min.js"></script>
    <script src="../../assets/client/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../assets/client/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/client/js/templatemo.js"></script>
    <!-- <script src="../../assets/client/js/custom.js"></script> -->

    <!-- End Script -->
  </body>
</html>
