<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cửa hàng | Jotun Vietnam</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="apple-touch-icon"
      href="../../assets/client/img/apple-icon.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/client/img/favicon.ico"
    />

    <link rel="stylesheet" href="../../assets/client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/client/css/templatemo.css" />
    <link rel="stylesheet" href="../../assets/client/css/custom.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../../assets/client/css/fontawesome.min.css" />
    <script src="https://www.w3schools.com/lib/w3.js"></script>
  </head>

  <body>
    <!-- Start Menu -->
    <div w3-include-html="layouts/menu.html"></div>
    <!-- End Menu -->

    <!-- Modal -->
    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Đóng"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Tìm kiếm ..."
            />
            <button
              type="submit"
              class="input-group-text bg-success text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Start Content -->
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="h2 pb-4">Danh Mục</h1>
          <ul class="list-unstyled templatemo-accordion">
            <li class="pb-3">
              <a
                class="collapsed d-flex justify-content-between h3 text-decoration-none"
                href="#"
              >
                Nội thất
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
              </a>
              <ul class="collapse show list-unstyled pl-3">
                <li><a class="text-decoration-none" href="#">Các sản phẩm nội thất</a></li>
                <li><a class="text-decoration-none" href="#">Cảm hứng bên trong ngôi nhà</a></li>
              </ul>
            </li>
            <li class="pb-3">
              <a
                class="collapsed d-flex justify-content-between h3 text-decoration-none"
                href="#"
              >
                Ngoại thất
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
              </a>
              <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="#">Các sản phẩm sơn ngoại thất</a></li>
                <li><a class="text-decoration-none" href="#">Cảm hứng ngoài trời</a></li>
              </ul>
            </li>
            <li class="pb-3">
              <a
                class="collapsed d-flex justify-content-between h3 text-decoration-none"
                href="#"
              >
                Màu sắc
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
              </a>
              <ul id="collapseThree" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="#">Màu sơn nội thất</a></li>
                <li><a class="text-decoration-none" href="#">Màu sơn ngoại thất</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-inline shop-top-menu pb-3 pt-1">
                <li class="list-inline-item">
                  <a class="h3 text-dark text-decoration-none mr-3" href="#"
                    >Tất Cả</a
                  >
                </li>
                <li class="list-inline-item">
                  <a class="h3 text-dark text-decoration-none mr-3" href="#"
                    >Nội thất</a
                  >
                </li>
                <li class="list-inline-item">
                  <a class="h3 text-dark text-decoration-none" href="#">Ngoại thất</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 pb-4">
              <div class="d-flex">
                <select class="form-control">
                  <option>Nổi Bật</option>
                  <option>Sang trọng hiện đại</option>
                  <option>Cổ điển</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/af443d70809345a59207cf3e54139820/jotun-livingroom-2149-coffee-1303-observe-1974-golden-walnut_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>1303</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Cappuccino</a 
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/3bef5a76d6484b6c841b3486c112bf37/jotun-bathroom-12313-soft-dunes_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>12313</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Soft dunes</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/f20e2d595aec438092b1ab3060dc507c/jotun-bedroom-6378-iconic-04_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>6378</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Iconic</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/72ed42ddbcd14d4ba69cede52de84bd1/jotun-livingroom-6379-cityscape-12308-unbleached_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>6379</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Cityscape</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/918a34a91fa24183ae9430fb4a904ad7/jotun-livingroom-1625-soul-1965-ginger-tea_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>1965</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Ginger tea</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/687d2eece4eb4623a08871d863100728/jotun-kitchen-12308-unbleached_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>12308</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Unbleached</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/33f462c23ffe4cd18f5c2be2f3776d66/jotun-bedroom-11220-ochre-clay-03_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>11220</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Ochre clay</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/ace225a664ea479590d52b08a9b1321a/jotun-kitchen-11202-mild-ochre-8284-olive-12080-soft-radiance-02_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>11202</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Mild ochre</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                  <img
                    class="card-img rounded-0 img-fluid"
                    src="https://www.jotun.com/contentassetsjot03/c7616e5a8a8d44aaa32bcbabb3a0a365/jotun-bedroom-20054-silky-pink_1408x1760.jpg?format=webp&width=752&height=940&quality=70"
                    alt="Hình ảnh sản phẩm"
                  />
                  <div
                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                  >
                    <ul class="list-unstyled">
                      <li>
                        <a
                          class="btn btn-success text-white"
                          href="shop-single.html"
                          title="Yêu thích"
                          ><i class="far fa-heart"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Xem chi tiết"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          class="btn btn-success text-white mt-2"
                          href="shop-single.html"
                          title="Thêm vào giỏ"
                          ><i class="fas fa-cart-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <p>20054</p>
                  <a href="shop-single.html" class="h3 fw-bold text-decoration-none name_title"
                    >Silky pink</a
                  >
                  <p class="text-center mb-0">300.000đ</p>
                </div>
              </div>
            </div>
          </div>
          <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
              <li class="page-item disabled">
                <a
                  class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                  href="#"
                  tabindex="-1"
                  >1</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                  href="#"
                  >2</a
                >
              </li>
              <li class="page-item">
                <a
                  class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                  href="#"
                  >3</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Start Footer -->
    <div w3-include-html="layouts/footer.html"></div>
    <!-- End Footer -->
    <script>
      w3.includeHTML();
    </script>

    <!-- Start Script -->
    <script src="../../assets/client/js/jquery-1.11.0.min.js"></script>
    <script src="../../assets/client/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../assets/client/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/client/js/templatemo.js"></script>
    <script src="../../assets/client/js/custom.js"></script>
    <!-- End Script -->
  </body>
</html>
