<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">
          Jotun
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            22 Thường Thạnh, Cái Răng, TP Cần Thơ
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:0797164052"
              >0797164052</a
            >
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:jotun@gmail.com"
              >jotun@gmail.com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Nghề nghiệp</a></li>
          <li><a class="text-decoration-none" href="#">Liên hệ</a></li>
          <li><a class="text-decoration-none" href="#">Sơn công nghiệp</a></li>
          <li>
            <a class="text-decoration-none" href="#">LEED</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        </h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Đại lý Jotun</a></li>
          <li><a class="text-decoration-none" href="#">Jotun toàn cầu</a></li>
          <li>
            <a class="text-decoration-none" href="#">Bảo mật, cookies, điều kiện và điều khoản</a>
          </li>
          <li>
            <a class="text-decoration-none" href="#">Accessibility Statement</a>
          </li>
          <li><a class="text-decoration-none" href="#">Cài đặt cookie</a></li>
        </ul>
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        <ul class="list-inline text-left footer-icons">
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="http://facebook.com/"
              ><i class="fab fa-facebook-f fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.instagram.com/"
              ><i class="fab fa-instagram fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://twitter.com/"
              ><i class="fab fa-twitter fa-lg fa-fw"></i
            ></a>
          </li>
          <li
            class="list-inline-item border border-light rounded-circle text-center"
          >
            <a
              class="text-light text-decoration-none"
              target="_blank"
              href="https://www.linkedin.com/"
              ><i class="fab fa-linkedin fa-lg fa-fw"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="subscribeEmail">Địa chỉ Email</label>
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control bg-dark border-light"
            id="subscribeEmail"
            placeholder="Địa chỉ Email"
          />
          <div class="input-group-text btn-success text-light">Đăng Ký</div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light">
            Bản quyền &copy; 2025 Jotun Vietnam
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
    w3.includeHTML();
  </script>
</footer>
