<nav
  class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
  arial-label="Thanh điều hướng Furni"
>
  <div class="container">
    <a class="navbar-brand" href="index.html">Jotun<span>.</span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsFurni"
      aria-controls="navbarsFurni"
      aria-expanded="false"
      aria-label="Chuyển đổi điều hướng"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Trang Chủ</a>
        </li>
        <li><a class="nav-link" href="shop.html">Cửa Hàng</a></li>
        <li><a class="nav-link" href="about.html">Về Chúng Tôi</a></li>
        <li><a class="nav-link" href="services.html">Dịch Vụ</a></li>
        <li><a class="nav-link" href="blog.html">Blog</a></li>
        <li><a class="nav-link" href="contact.html">Liên Hệ</a></li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li>
          <a class="nav-link" href="#"
            ><img src="../../assets/client/images/user.svg" alt="Tài khoản"
          /></a>
        </li>
        <li>
          <a class="nav-link" href="cart.html"
            ><img src="../../assets/client/images/cart.svg" alt="Giỏ hàng"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
